<h1 class="center">Flavors of the World</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Starter</h3>
    <a href="/apps/new" class="btn">Appetizers</a>
    </div>
  </div>
  <div class="center card blue-grey">
    <div class="card-content white-text">
      <h3>The Sweet Course</h3>
      <a href="/apps" class="btn">Entrees</a>
    </div>
  </div>