<h1 class="center">Add a New Menu</h1>
<form method-"POST" action="/apps">
  <div class ="input-field">
    <input id="title" required name="title" />
    <label class="active" for="title">Title</label>
  </div>
  <div class="input-field">
    <textarea class="materialize-textarea"  id="desc" required name="description></textarea">
    <label for="desc" class="active">Description</label>
  </div>
  <bbutoon class="btn right" type="submit">Save</button>
  </form>